<% content_for :page_title do %>
  <%= @marketing_campaign.name.titleize %> - <%= @report_name.titleize %> Report
  <p style="font-size: 15px;">
    Sent To: <%= @marketing_campaign.list.name %>
    <span class="icon icon-question-sign" data-toggle="tooltip" title="<%= @marketing_campaign.list.presenter.description %>"></span>
  </p>
  <p style="font-size: 15px;">Sent At: <%= @marketing_campaign.scheduled_at.to_formatted_s(:short) %></p>
<% end %>
<h3>Users</h3>
<hr />
<% if @recipients.present? %>
  <table class="table">
    <thead>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:email_opened_at) %></th>
      <th><%= Spree.t(:first_activity_at) %></th>
    </thead>
    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= recipient_email_or_link(recipient) %></td>
          <td><%= recipient.email_opened_at.to_formatted_s(:long) %></td>
          <td><%= @users_activity_hash[recipient.contact_email].to_formatted_s(:long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Recipients") %>
  </div>
<% end %>

<%= paginate @recipients %>
