<% content_for :page_title do %>
  <%= @marketing_campaign.name.titleize %> - <%= @report_name.titleize %> Report <span class="sent-at"> sent at <%= @marketing_campaign.scheduled_at %></span>
<% end %>
<h3>Users</h3>
<hr />
<% if @recipients.present? %>
  <table class="table">
    <thead>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:opened_at) %></th>
      <th><%= Spree.t(:first_activity_at) %></th>
    </thead>
    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= recipient.contact_email %></td>
          <td><%= recipient.email_opened_at %></td>
          <td><%= @users_activity_hash[recipient.contact_email] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Recipients") %>
  </div>
<% end %>

<%= paginate @recipients %>
