<% content_for :page_title do %>
  <%= "Campaigns" %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:sync), admin_marketing_campaigns_sync_path, data: { remote: true, method: :post, type: 'JSON' }, class: 'btn-success campaign_sync', icon: 'refresh' %>
<% end %>


<% if @campaigns.present? %>
  <table class="table">
    <thead>
      <th class="col-md-3"><%= Spree::Marketing::List.human_attribute_name :name %></th>
      <th class="col-md-2"><%= Spree::Marketing::List.human_attribute_name :uid %></th>
      <th class="col-md-5 text-center"><%= Spree.t(:list_name) %></th>
      <th class="col-md-2"><%= Spree::Marketing::List.human_attribute_name :sent_at %></th>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td class="col-md-3"><%= link_to campaign.name, admin_marketing_campaign_path(campaign) %></td>
          <td class="col-md-2"><%= campaign.uid %></td>
          <td class="col-md-5 text-center"><%= campaign.list.name %></td>
          <td class="col-md-3"><%= campaign.scheduled_at.to_formatted_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Campaigns") %>
  </div>
<% end %>

<%= javascript_include_tag 'spree/backend/campaign_sync_flash_handler' %>
