<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<% content_for :page_title do %>
  <%= @marketing_campaign.name.titleize %>
<% end %>

<h3>Stats</h3>
<br />
<h4>Sent: <%= @stats['emails_sent'] %></h4>
<h4>Successfully Delivered: <%= @stats['emails_delivered'] %></h4>
<h4>Opened: <%= @stats['emails_opened'] %></h4>
<h4>Bounced: <%= @stats['emails_bounced'] %></h4>

<hr />

<h3><%= @marketing_campaign.list.name %> List</h3>
<h4><i><%= @marketing_campaign.list.presenter.description %></h4></i>
<h4>Users Count: <%= @stats['emails_sent'] %></h4>

<div id="report_pie_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>

<hr />

<h3>Reports</h3>
<br/ >
<% if @reports.present? %>
  <table class="table">
    <thead>
      <th class="col-md-4"><%= Spree.t(:name) %></th>
      <th class="col-md-4 text-center"><%= Spree.t(:occurences) %></th>
    </thead>
    <tbody>
      <% @reports.each do |report_name, report_data| %>
        <tr>
          <td class="col-md-4"><%= link_to report_name.titleize, display_recipient_emails_admin_marketing_campaign_path(report_key: report_name) %></td>
          <td class="col-md-4 text-center"><%= report_data["count"].to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Reports") %>
  </div>
<% end %>

<%= javascript_include_tag 'spree/backend/campaign_data_report' %>

<%= javascript_tag do %>
  var innerData = ([{ 'name': 'Received', 'y': <%= @stats['emails_delivered'] %> }, { 'name': 'Bounced', 'y': <%= @stats['emails_bounced'] %>}]);
  var outerData = ([{ 'name': 'Opened', 'y': <%= @stats['emails_opened'] %> }, { 'name': 'Not Opened', 'y': (<%= @stats['emails_delivered'] - @stats['emails_opened'] %>)}, { 'name': 'Bounced', 'y': <%= @stats['emails_bounced'] %>}]);

  $(function (){
    var campaignDataReport = new CampaignDataReport($("#report_pie_chart"), innerData, outerData);
    campaignDataReport.init();
  });
<% end %>

