<% content_for :page_title do %>
  <%= @marketing_campaign.name.titleize %>
<% end %>

<h3>Stats</h3>
<br />
<h4>Sent: <%= @stats['emails_sent'] %></h4>
<h4>Successfully Delivered: <%= @stats['emails_delivered'] %></h4>
<h4>Opened: <%= @stats['emails_opened'] %></h4>
<h4>Bounced: <%= @stats['emails_bounced'] %></h4>

<hr />

<h3><%= @marketing_campaign.list.name %></h3>
<br />
<h4>Description: <%= Spree::Marketing::ListPresenter::VIEW_NAMES_HASH[@marketing_campaign.list.class.to_s.demodulize][:tooltip_content] %></h4>
<h4>Subscribers Count: <%= @stats['emails_sent'] %></h4>

<hr />

<h3>Reports</h3>
<br/ >
<% if @reports.present? %>
  <table class="table">
    <thead>
      <th class="col-md-4"><%= Spree.t(:name) %></th>
      <th class="col-md-4 text-center"><%= Spree.t(:occurences) %></th>
    </thead>
    <tbody>
      <% @reports.each do |report_name, report_data| %>
        <tr>
          <td class="col-md-4"><%= link_to report_name.titleize, display_recipient_emails_admin_marketing_campaign_path(report_key: report_name) %></td>
          <td class="col-md-4 text-center"><%= report_data["count"].to_s + "/" + @stats['emails_sent'].to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Reports") %>
  </div>
<% end %>
