<% content_for :page_title do %>
  <%= @marketing_list.class::NAME_TEXT + @marketing_list.presenter.show_page_name %>
<% end %>

<h3>Contacts</h3>

<br>

<% if @contacts.present? %>
  <table class="table">
    <thead>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:uid) %></th>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.email %></td>
          <td><%= contact.uid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: 'Contacts') %>
  </div>
<% end %>
